.header{
    background-color: #000;
    width: 100vw;
}

.navbar{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__item{
    display: flex;
    justify-content: space-around;
}

.left__nav__list{
    flex: 0.5;
}

.right__nav__list{
    flex: 0.3;
}

.nav__item{
    padding: 0 10px 0;
    display: flex;
    align-items: center;
}

.nav__link{
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    padding: 0 4px;
}

.nav__link:hover{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 600px) {

    .navbar{
        width: 100vw;
        flex-direction: column;
    }
}